In [2]:
#****************************************** FIRST PART **********************************************************

In [3]:
import pandas as pd
import numpy as np
from sklearn import tree
import os

In [4]:
# Load data
# The first two columns contains the exam scores and the third column
# contains the label.
data = np.loadtxt(os.path.join('ex2data1.txt'), delimiter=',')

In [5]:
df=pd.DataFrame(data,columns=['X0','X1','Y'])

In [6]:
df

           X0         X1    Y
0   34.623660  78.024693  0.0
1   30.286711  43.894998  0.0
2   35.847409  72.902198  0.0
3   60.182599  86.308552  1.0
4   79.032736  75.344376  1.0
..        ...        ...  ...
95  83.489163  48.380286  1.0
96  42.261701  87.103851  1.0
97  99.315009  68.775409  1.0
98  55.340018  64.931938  1.0
99  74.775893  89.529813  1.0

[100 rows x 3 columns]

In [7]:
df.iloc[:,0:2]

           X0         X1
0   34.623660  78.024693
1   30.286711  43.894998
2   35.847409  72.902198
3   60.182599  86.308552
4   79.032736  75.344376
..        ...        ...
95  83.489163  48.380286
96  42.261701  87.103851
97  99.315009  68.775409
98  55.340018  64.931938
99  74.775893  89.529813

[100 rows x 2 columns]

In [8]:
# test train split

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split( df.iloc[:,0:2],df.Y,test_size=0.1)

In [11]:
# TRAIN DATA

In [12]:
model1=tree.DecisionTreeClassifier()

In [13]:
model1.fit(X_train,Y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
# RESULT

In [15]:
model1.score(X_test,Y_test)

1.0

In [16]:
model1.predict(X_test)

array([0., 1., 1., 1., 1., 1., 0., 1., 1., 1.])

In [17]:
Y_test

89    0.0
18    1.0
25    1.0
74    1.0
19    1.0
48    1.0
92    0.0
51    1.0
56    1.0
99    1.0
Name: Y, dtype: float64